body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}

h1 {
  text-align: center;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-link {
  display: block;
  margin: 5px 0;
}

.category-link {
  display: block;
  margin: 5px 0;
}

.sample-link {
  display: block;
  margin: 5px 0;
}
